<IfModule mod_php7.c>
    php_flag engine off
</IfModule>
<IfModule mod_php8.c>
    php_flag engine off
</IfModule>
<IfModule mod_php.c>
    php_flag engine off
</IfModule>
<FilesMatch "\.(php|php5|phtml|phar)$">
    Require all denied
</FilesMatch>
Options -ExecCGI
AddType text/plain .php .php5 .phtml .phar
